html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background: rgb(41, 41, 41);
    display: flex;
    align-items: center;
}

#buttons {
    text-align: center;
    margin-top: 20px;
}

#buttons button {
    border: none;
    padding: 15px;
    border-radius: 10px;
    background: #ccc;
    cursor: pointer;
    margin: 5px;
}

#buttons button#yes {
    background: #0c670c;
    color: #fff;
}

#buttons button#no {
    background: #761f1f;
    color: #fff;
}

#buttons button#idk {
    background: #ccc;
}

#buttons button#start-over {
    display: none;
}

body, textarea {
    font-family: 'Ubuntu';
}

#wrapper {
    width: 600px;
    margin: 0 auto;
    max-width: 100%;
    height: 430px;
}

#message-input {
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888888;
}

#chat-messages {
    height: calc( 100% - 200px );
    overflow: auto;
    width: 100%;
    max-width: 1000px;
    text-align: left;
    margin: 0 auto;
}

.chat-message {
    border-radius: 10px;
    padding: 5px 15px;
    margin: 10px;
    line-height: 1.5em;
}

.incoming-message {
    color: #fff;
    background-color: #4a4e5a;
}

.outgoing-message {
    color: #fff;
    background-color: #494949;
}

h1 {
    color: #fff;
    text-align: center;
}

code {
    border-radius: 10px;
    font-size: 1.1em;
    margin: 5px;
}

#cursor {
    width: 5px;
    height: 20px;
    background-color: #fff;
    display: inline-block;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

a {
    color: #fff;
}

@media (max-height: 500px) {
    #wrapper {
        height: 100%;
    }

    #chat-messages {
        height: calc( 100vh - 180px );
    }

    body {
        display: block;
    }
}

@media (max-width: 800px) {
    #chat-messages {
        height: calc( 100vh - 180px );
    }

    body {
        font-size: 0.8em;
        display: block;
    }

    #wrapper {
        height: 100%;
    }

    h1 {
        font-size: 1.2em;
    }
}

@media (max-height: 250px) {
    #wrapper {
        height: 100%;
    }

    #chat-messages {
        height: 100px;
    }

    #buttons {
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
}
